web.config
*.iml
.idea/
testbox
tests/.exitcode
/.project
/settings.xml
WEB-INF/
.editorconfig
server-cfdocs.json
server-*.json
server.json
*.sublime-workspace
*.sublime-project
.env
assets/img/opengraph/
.DS_Store

# Recommended settings for VSCode at https://www.gitignore.io/api/visualstudiocode
### VisualStudioCode ###
.vscode/**/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history
