web.config
*.iml
.idea/
testbox
tests/.exitcode
/.project
/settings.xml
WEB-INF/
.editorconfig
server-cfdocs.json
server-*.json
server.json
*.sublime-workspace
*.sublime-project
/.vscode
.env
assets/img/opengraph/
