body {
  padding-top: 50px;
  padding-bottom: 20px;
}

div.listing > h2 > a.btn { text-transform: none; }

nav.navbar { background-color:#eee; }
#docname,h4 { font-family: Menlo,Monaco,Consolas,"Courier New",monospace; }
.param h4 { background-color: #f1f1f1; padding: 8px 8px; margin-bottom: 2px; }
.p-default { font-weight:normal; font-size: smaller; }
h2 { border-bottom:1px solid #f1f1f1; padding-bottom: 12px; }
h2 .item-name { font-weight:bold; font-family: Menlo,Monaco,Consolas,"Courier New",monospace; }
.p-name { font-weight:bold; font-size:larger;}
.p-desc { padding: 8px; margin: 0 5%; }
.listing a { margin-right: 15px; margin-bottom: 15px; font-size: larger }
.listing h2 { margin: inherit; font-size: inherit; padding: inherit; border: none; display: inline }
h2 { text-transform: uppercase; }
.listing { text-align: center; }
#syntax { font-weight:bold; }
#forkme { position: absolute; top: 0; right: 0; border: 0; z-index: 9999; width:149px; height:149px;}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

#foundeo {
  opacity:0;
  margin-left: 100px;
}
#foundeo img {
  width: 70px; height:20px;

}

#foundeo.foundeoAppear {
  opacity:1;

  transition: all 2.5s ease-in-out;
}

.tt-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion:hover, .tt-cursor {
  color: #ccc;
  cursor: pointer;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.twitter-typeahead .tt-hint {
    display: block;
    border: 1px solid transparent;
    color:#ccc;
}
.breadcrumb li.pull-right:before { content: " ";}
.breadcrumb li.divider:before { content: "|"; padding-right:0px; padding-left:8px; }
.breadcrumb hr { margin:3px; }
footer { text-align: center; margin-top: 10px; font-size:smaller; }
.navbar-brand { font-weight:bold; }

.label-acf {
    background-color: #069;
}
.label-acf:hover,
.label-acf:focus {
    background-color: #246;
}
.label-lucee {
    background-color: #449caf;
}
.label-lucee:hover,
.label-lucee:focus {
    background-color: #01798a;
}
.label-openbd {
    background-color: #2fa5d7;
}
.label-openbd:hover,
.label-openbd:focus {
    background-color: #1b6c8f;
}
.syntax-highlight {
  color: #c7254e;
  font-weight:bold;
}

.alert-warning a {
  color: #fff;
}
/* for use in page anchor - moves -100px to allow space for toolbar */
.page-anchor{
  position:absolute;
  margin-top:-80px;
}
/* normal placement in examples */
p.clearfix .page-anchor{
  position:absolute;
  margin-top:-100px;
}

iframe { border:0px;}

.contributor { background-color: #f1f1f1; border-radius: 7px; margin: 5px 0; padding:15px 10px; }
.contributor img { width: 75px; height: 75px; display: block; margin: 0 auto; }

pre.prettyprint {
	padding: 5px 8px !important;
	border: 1px solid #CCC !important;
}

.alert-danger h4 { line-height: 1.5; }

#search { margin-right:100px; }
@media (max-width:991px) {
  #search { margin-right:10px; }
}

.issuecount {
	padding: 2px 5px;	
}

.issuebutton {
	color: white;
	padding-left: 2px;
	padding-right: 5px;
}
